<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<style>
    *{
        
    }
</style>
<body>
    <header>
        <a href="/"><img src="/img/toughts_logo.png" alt=""></a>
    <nav>
        <ul>
            <li class="nav-item"><a href="/">Pensamentos</a></li>
            <li class="nav-item"><a href="/">Entre</a></li>
            <li class="nav-item"><a href="/">Crie sua conta</a></li>
        </ul>
    </nav>
    </header>
    <div class="container">
    {{{body}}}
    </div>
    <footer><span>Tougths</span>&copy 2024</footer>

</body>
</html>