<link rel="stylesheet" href="/
css/create.css">
<main>
    <div class="thought-container">
        <h1>No que está Pensando:</h1>
        <form action="thoughts/add" method="POST">
        <div class="inputs">
            <input type="text" name="title" class="input" required>
            <label>Pensamento Do Dia!!</label>
        </div>

        <div class="buttons">
            <button type="submit">Postar Pensamento</button>
            <a href="/thoughts/dashboard" id="voltar"><button type="button">Voltar</button></a>
        </div>
        </form>
    </div>
</main>