<link rel="stylesheet" href="/css/dash.css">
<h1 id="title">Dashboard</h1>
<div class="actions"><a href="/thought/add" id="thoughts">No que está Pensando?</a></div>
<div class="thoughts">
    <h2>Seus Pensamentos</h2>
</div>